body {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    grid-template-areas: 
    "h"
    "n"
    "m"
    "a"
    "f";
}
header {
    grid-area: h;
}
nav {
    grid-area: n;
}
main {
    grid-area: m;
}
aside {
    grid-area: a;
}
footer {
    grid-area: f;
}
body > * {
    border: 5px solid brown;
}

@media (min-width: 800px) {
    body {
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas: 
        "h h h"
        "m a n"
        "f f f";
    }
}

@media (max-width: 600px) {
    aside {
        display: none;
    }
    body {
        grid-template-rows: 1fr 1fr 3fr 1fr;
        grid-template-areas: 
        "h"
        "n"
        "m"
        "f";
    }
}